<%= render "pagination.html", assigns %>
<%= content_tag :ul, class: "tags" do %>
    <%= for item <- @tags do %>
        <%= content_tag :li do %>
            <%= render ErssWeb.PageView, "tag.html", tag: item.tag, conn: @conn, current_user: @current_user %> (<%= item.count %> fics)
        <% end %>
    <% end %>
<% end %>
<%= render "pagination.html", assigns %>
