<%= render "pagination.html", assigns %>
<%= content_tag :ul, class: "tags" do %>
    <%= for t <- @tags do %>
        <%= content_tag :li do %>
            <%= render ErssWeb.PageView, "tag.html", tag: t, conn: @conn %>
        <% end %>
    <% end %>
<% end %>
<%= render "pagination.html", assigns %>
