<div class="show_tag">
    <span class="buttons">
    <%= button("▼", to: @path.(@conn, :downrate, @tag.id, 1)) %>
    <span class="tag_rating">Weight: <%= @tag.rating %></span>
    <%= button("▲", to: @path.(@conn, :uprate, @tag.id, 1)) %>
    </span>
    &nbsp;
    <%= link(@tag.name, to: @path.(@conn, :list, @tag.id, 1)) %>
</div>
