<div class="show_tag">
    <%= button("-", to: @path.(@conn, :downrate, @tag.id, 1)) %>
    <span class="tag_rating"><%= @tag.rating %></span>
    <%= button("+", to: @path.(@conn, :uprate, @tag.id, 1)) %>
    <%= link(@tag.name, to: @tag.url) %>
</div>
