<%= content_tag :td, class: "taglist" do %>
    <%= content_tag :h5, @title %>
    <%= content_tag :ul do %>
        <%= for t <- @tags do %>
            <%= content_tag :li do %>
                <%= render "tag.html", tag: t, conn: @conn, current_user: @current_user %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
