<%= content_tag :span, class: "tag #{Erss.Tag.rating_class(@tag, @current_user)}", tagid: @tag.id do %>
    <%= button "+", to: "#", class: "btn-light up", url: Routes.api_path(@conn, :up, @tag.id) %>
    <%= button "-", to: "#", class: "btn-light down", url: Routes.api_path(@conn, :down, @tag.id) %>
    <%= button Erss.Tag.get_rating(@tag, @current_user), to: "#", disabled: true, class: "rating" %>
    &nbsp;
    <%= link @tag.name, to: Routes.page_path(@conn, :by_tag, @tag.id, 1) %>
<% end %>
