/* This file is for your main application css. */

@import "./phoenix.css";

#topmenu {
    color: white;
    background-color: black;
    margin: 0 0 2rem 0;
    width: 100%;
    padding: 0.5rem;
}

#topmenu ul {
    list-style-type: none;
    width: 50%;
    margin-left: 25%;    
}

#topmenu li {
    display: inline-block;
    text-align: center;
    padding-right: 0.5rem;
}

#topmenu li a {
    color: white;
}

#ficlist {
    padding: 1rem;
    margin: 1rem;
}

#ficlist td {
    padding: 1rem;
}

#ficlist .fic_id, #ficlist .fic_tagname {
    text-align: right;
    font-variant: small-caps;
    font-weight: bolder;
}

#ficlist .fic_tagname {
    vertical-align: text-top;
}

#ficlist .bad {
    background-color: #ffcccc;
}

#ficlist .bad a {
    color: gray;
}

#ficlist .good {
    background-color: #ccffcc;
}

#ficlist .neutral {
    background-color: #ffffcc;
}

#ficlist td.fic_title {
    font-weight: bold;
}

#ficlist td.fic_tags {
    font-size: smaller;
}

.pagination {
    width: 50%;
    margin: auto;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 10px;
    vertical-align: middle;
}

.pagination a {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: larger;
}

h1,
h2,
h3 {
    color: green;
    font-family: cursive;
    text-align: center;
}

h1 {
    font-size: 3em;
}

#toplists>tbody>tr>td {
    vertical-align: top;
}

.show_tag .buttons {
    background-color: lightgreen;
    display: inline-block;
    border-radius: 8px;
    padding: 0;
    margin: 0;
}

.show_tag button {
    border: none;
    padding: 0;
    font-size: 150%;
    background-color: lightgreen;
    color: white;
}

.show_tag .tag_rating {
    border: none;
    font-size: 80%;
    color: yellow;
}