/* This file is for your main application css. */

@import "./phoenix.css";

#ficlist {
    padding: 1em;
}

#ficlist dt {
    font-weight: bolder;
    font-variant: small-caps;
}

#ficlist dd {
    font-size: small;
    border-bottom: thin gray solid;
    padding-bottom: 1rem;
}

#ficlist dt.bad {
    text-decoration: line-through;
    color: gray;
    font-size: 75%;
}

#ficlist dt.bad a {
    color: gray;
}

#ficlist dt.good {
    background-color: lightyellow;
}

h1,
h2,
h3 {
    color: green;
    font-family: cursive;
    text-align: center;
}

h1 {
    font-size: 3em;
}

#toplists>tbody>tr>td {
    vertical-align: top;
}

.show_tag .buttons {
    background-color: lightgreen;
    display: inline-block;
    border-radius: 8px;
    padding: 0;
    margin: 0;
}

.show_tag button {
    border: none;
    padding: 0;
    font-size: 150%;
    background-color: lightgreen;
    color: white;
}

.show_tag .tag_rating {
    border: none;
    font-size: 80%;
    color: yellow;
}