$fa-font-path: '~font-awesome/fonts';
@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/scss/font-awesome.scss';

/* Phoenix flash messages */
.alert:empty {
    display: none;
}

/* Phoenix inline forms in links and buttons */
form.link,
form.button {
    display: inline;
}

.good {
    background-color: lightgreen;
}

.neutral {
    background-color: lightyellow;
}

.bad {
    background-color: pink;
}

table {
    border: thin gray solid;
    background-color: whitesmoke;
}

td.taglist {
    width: 33%;

    ul {
        list-style-type: none;
        padding-left: 0em;

        li {
            margin-left: 0em;
        }
    }
}

table.fic {
    margin-top: 0;

    .title {
        font-size: 125%;
    }

    .author {
        font-size: 75%;
    }

    .summary {
        padding-left: 5rem;
        padding-right: 5rem;
        background-color: rgb(245, 245, 230);
    }
}

ul.tags {
    list-style-type: none;
    padding: 1rem;
    margin: 0rem;

    li {
        margin: 0;
        padding-bottom: 0.5rem;
    }
}

h1.ficlist {
    font-family: cursive;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 1rem;
    background-color: lavender;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    clear: both;
}

.good_tag {
    a {
        color: limegreen;
    }
}

.bad_tag {
    a {
        color: red;
    }
}

.option_form {
    width: 50%;
    float: right;
    text-align: right;
}

.option_form label {
    padding-right: 1rem;
}

.reading_list_checkbox {
    float: right;
}