$fa-font-path: '~font-awesome/fonts';
@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/scss/font-awesome.scss';

/* Phoenix flash messages */
.alert:empty {
    display: none;
}

/* Phoenix inline forms in links and buttons */
form.link,
form.button {
    display: inline;
}

.good {
    background-color: lightgreen;
}

.neutral {
    background-color: lightyellow;
}

.bad {
    background-color: pink;
}

table {
    border: thin gray solid;
    background-color: whitesmoke;
}

td.taglist {
    width: 33%;

    ul {
        list-style-type: none;
        padding-left: 0em;

        li {
            margin-left: 0em;
        }
    }
}