<h1>25 most recent fics</h1>

<dl id="ficlist">
    <%= for f <- @fics do %>
    <dt class="<%= f.class %>">
        #<%= f.id %>: <%= link(f.title, to: f.link) %> (<%= f.total %>)
    </dt>
    <dd>
        <%= f.fandoms |> Enum.map(fn f -> f.name end) |> Enum.join(", ") %>
    </dd>
    <% end %>
</dl>
