<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Erss · AO3 Fic Chooser</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
      <div id="topmenu">
      <ul>
        <li><%= link("Top", to: "/") %></li>
        <li><%= link("Additional Tags", to: "/additional/") %></li>
        <li><%= link("Authors", to: "/author/") %></li>
        <li><%= link("Categories", to: "/category/") %></li>
        <li><%= link("Characters", to: "/character/") %></li>
        <li><%= link("Fandoms", to: "/fandom/") %></li>
        <li><%= link("Ratings", to: "/rating/") %></li>
        <li><%= link("Relationships", to: "/relationship/") %></li>
        <li><%= link("Warnings", to: Routes.warning_path(@conn, :index)) %></li>
        <li><%= link("Fic", to: Routes.fic_path(@conn, :index)) %></li>
      </ul>
      </div>

    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
