<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Erss · AO3 Fic Chooser</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= link("Top", to: "/") %>&nbsp;
      <%= link("Additional Tags", to: "/additional/") %>&nbsp;
      <%= link("Authors", to: "/author/") %>&nbsp;
      <%= link("Categories", to: "/category/") %>&nbsp;
      <%= link("Characters", to: "/character/") %>&nbsp;
      <%= link("Fandoms", to: "/fandom/") %>&nbsp;
      <%= link("Ratings", to: "/rating/") %>&nbsp;
      <%= link("Relationships", to: "/relationship/") %>&nbsp;
      <%= link("Warnings", to: Routes.warning_path(@conn, :index)) %>&nbsp;
      <%= link("Fic", to: Routes.fic_path(@conn, :index)) %>&nbsp;

      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
